.card-header {
    color: rgb(62, 61, 124);
    background-color: rgb(214, 213, 255);
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    h3 {
        font-size: 18px;
        font-weight: 700;
    }
    fieldset {
        border: 1px solid blueviolet;
        margin: 5px;
        padding: 12px;
        display: flex;
        .block {
            margin: 7px;
        }
        legend {
            color: rgb(62, 61, 124);
            font-size: 16px;
            display: inline-block;
            padding: 6px;
            text-align: center;
            width: auto;
        }
    }
}

.list-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__content {
        display: flex;
        flex-direction: column;
        min-width: 180px;
        margin: 10px;
        small {
            color: gray;
            font-style: italic;
            font-size: 70%;
        }
    }
    &__img {
        img {
            height: 200px;
            width: auto;
        }
    }
    &__buttons {
        display: flex;
        min-width: 210px;
        margin: 10px 0;
    }
    .btn {
        margin: 3px;
        // &.btn-info {
        //     transform: rotate(2deg);
        // }
        // &.btn-danger {
        //     transform: rotate(-1deg);
        // }
        // &.btn-warning {
        //     transform: rotate(-1.5deg);
        // }
    }
}

.outfit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    &__size {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 11px;
        margin: 12px;
    }
    &__color {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
        font-size: 25px;
        text-transform: uppercase;
    }
}

.img {
    img {
        height: 200px;
        width: auto;
    }
}
.card {
    box-shadow: 5px 5px 5px gray;
}